RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(.+)\.(.+)(w|h)\.(gif|jpg|jpeg|png)$ [NC]
RewriteRule (.*)/(.*)$ /index.php?p=$1&l=$2

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.+)\.(.+)w\.(.+)$ /index.php?t=$1.$3&w=$2
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.+)\.(.+)h\.(.+)$ /index.php?t=$1.$3&h=$2

ErrorDocument 403 /index.php?p=errors/403
ErrorDocument 404 /index.php?p=errors/404
ErrorDocument 500 /index.php?p=errors/500

RedirectMatch 404 README.md
RedirectMatch 404 .gitignore
