RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)/(.*)$ /index.php?p=$1&l=$2

ErrorDocument 403 /index.php?p=errors/403
ErrorDocument 404 /index.php?p=errors/404
ErrorDocument 500 /index.php?p=errors/500

RedirectMatch 404 README
RedirectMatch 404 .gitignore