<?php
  
$GLOBALS['update_interval'] = 60;
$GLOBALS['github_username'] = 'username';
$GLOBALS['github_password'] = 'password';
$GLOBALS['youtube_username'] = 'username';
$GLOBALS['googleplay_apps'] = array('app1', 'app2');
$GLOBALS['excluded_repos'] = array('repo1', 'repo2');
  
?>
